<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="{% static 'js/echarts.js' %}"></script>
</head>
<body style="background-color: silver">
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 1600px;height:800px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例

        var s1={{ ss1|safe }}
        var s3={{ l|safe }}
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
       var option = {
    title : {
        text: '工作区域分布',
        subtext: '',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: s1,
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],
            data:s3,
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
 <a id ='find2' href="{% url 'find4' %}">上一页</a>
</body>
</html>